# MySQL
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=your_password
DB_NAME=casanare_defensores
DB_PORT=3306

# JWT
JWT_SECRET=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJjbGllbnQiOiJjYXNhbmFyZS1mb3JtIiwiaWF0IjoxNzg5MzIzMzI4LCJleHAiOjE3ODk0MDk3Mjh9.bSsuCbPPzUYz-KaG9P_q4dikqK_TeFnhL6H3AVQcL78

# API
PORT=3000
NODE_ENV=development
